.BlogPage {
    margin: 0 5vw;
}

#BlogPage-Edit {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.BlogPage-Title {
    font-size: 10vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.BlogPage-Date {
    font-size: 5vw;
    text-align: center;
    font-style: italic;
}

.BlogPage-Image {
    display: block;
    width: 90vw;
    margin: 0 auto;
}