.BlogPage {
    margin: 0 5%;
    word-wrap: break-word;
}

#BlogPage-Edit {
    position: fixed;
    top: 89vh;
    left: 80vw;
}

.BlogPage-Title {
    font-size: 15vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.BlogPage-Date {
    font-size: 3.5vw;
    text-align: center;
    font-style: italic;
}

.BlogPage-Image {
    display: block;
    width: 90vw;
    margin: 0 auto;
}