.RepoList {
    margin: 0 5%;
}

.RepoList-Container {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Git-Profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.Git-Profile {
    margin: 0;
    font-size: 3.5vw;
}

.Git-Profile-Image {
    width: 40vw;
    flex-shrink: 0;
}

.Git-Profile-Image img {
    width: 100%;
    border-radius: 5px;
}

.Git-Profile-Title {
    margin: 1% 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 5.5vw;
}

.Git-Profile-Content {
    margin: 0;
    width: 48vw;
}

.Git-Profile-Bio {
    font-size: 4vw;
    text-align: center;
}

.Git-Info {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1000px) {
    .RepoList {
        margin: 0 15%;
    }

    .RepoList {
        font-size: 20pt;
    }

    .Git-Profile-Image {
        width: 40%;
    }

    .Git-Profile-Content {
        width: 55%;
        margin-left: 5%;
    }

    .Git-Profile-Title {
        font-size: 28pt;
    }
    .Git-Profile-Bio {
        font-size: 22pt;
    }
}

@media only screen and (min-width: 1200px) {
    .RepoList {
        margin: 0 25%;
    }

    .Git-Profile {
        font-size: 16pt;

    }

    .Git-Profile p {
        margin: 0;
    }

    .Git-Profile-Bio {
        font-size: 22pt;
    }

    .Git-Profile-Content {
        margin: 0 1%;
        text-align: center;
    }

    .Git-Profile-Image {
        flex-grow: 1;
    }
}