.BlogList {
    margin: 0 5%;
    margin-bottom: 10vh;
}

.BlogList-container {
    /* margin: 0; */
}

#BlogList-Edit {
    position: fixed;
    top: 89vh;
    left: 80vw;
}

.hidden {
    display: none;
}

.unhidden {
    display: initial;
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1000px) {
    
}

@media only screen and (min-width: 1200px) {
    .BlogList {
        margin: 0 20%;
        margin-bottom: 5%;
    }
}

