.BlogList {
    margin: 0 5%;
}

.BlogList-container {
    /* margin: 0; */
}

#BlogList-Edit {
    position: fixed;
    top: 89vh;
    left: 80vw;
}

.hidden {
    display: none;
}

.unhidden {
    display: initial;
}