.Contact {
    margin: 0 5%;
    margin-bottom: 25vh;
}

.Contact-Row {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-field {
    margin: 0;
}

.Contact-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    line-height: 0;

    color: black;
    border: 1px solid black;
}

.Contact-Info {
    display: inline-block;
    margin: 0.5% 2.5%;
    color: rgb(78, 78, 78);
    font-weight: bold;


    display: flex;
    justify-content: space-between;
}

.Contact-Info-Container {
    margin: 7.5% 0;
}

@media only screen and (min-width: 767px) {
    .Contact .input-field {
        height: 50pt;
    }
}

@media only screen and (min-width: 1200px) {
    .Contact {
        margin: 0 25%;
        margin-bottom: 15%;
    }

    .Contact p {
        font-size: 20pt;
    }

    .Contact i {
        font-size: 30pt;
    }
    .Contact button {
        height: 35pt;
    }

    .input-field {
        font-size: 25pt;
    }
}