.Navbar {
    width: 100vw;
    text-align: center;
}

.Navbar-Title {
    font-size: 10vw;
    text-align: center;
    margin: 2.5%;
    font-size: 10vw;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Navbar-Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Navbar-Links * {
    flex-shrink: 1;
    flex-grow: 0;
    color: black;
    font-size: 3.25vw;
    margin: 0 auto;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 0 12.5px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(360deg);
  }

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.Navbar-PageTitle {
    margin: 0 5vw;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

@media only screen and (min-width: 767px) {
    .Navbar-Links {
        margin: 2.5% 0;
    }
}

@media only screen and (min-width: 1000px) {
    .Navbar-Title {
        font-size: 60pt;
        margin: 2.5% auto;
    }
    .Navbar-Links * {
        font-size: 25pt;
    }
    .Navbar-PageTitle {
        font-size: 45pt;
        margin: 2% auto;
    }
}

@media only screen and (min-width: 1200px) {
    .Navbar-Title {
        font-size: 60pt;
        margin: 0 auto;
    }
    .Navbar-Links {
        height: 16pt;
        margin: 2% 20%;
    }
    .Navbar-Links * {
        font-size: 22pt;
    }
    .Navbar-PageTitle {
        font-size: 30pt;
        margin: 0 auto;
    }
}

