.Navbar {
    width: 100vw;
    text-align: center;
}

.Navbar-Title {
    font-size: 10vw;
    text-align: center;
    margin: 2.5%;
    font-size: 10vw;
    font-family: 'Quicksand', sans-serif;
}

.Navbar-Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Navbar-Links * {
    flex-shrink: 1;
    flex-grow: 0;
    color: black;
    font-size: 3.25vw;
    margin: 0 auto;
}

.Navbar-PageTitle {
    margin: 0 5vw;
}

